<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServicePage</title>
</head>
<body>
    <h1>This is ServicePage</h1>
    <!-- using fragement -->
     
     <!-- <div class="host-tag" th:replace="~{base :: parent(~{:: section})}">
        <section>
            <h1>ServicePage Dynamic content testing for (html tag)</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eius earum cum eligendi, unde esse excepturi modi quos odio corporis.
        </section> -->

    <!-- <div class="host-tag" th:replace="~{base :: parent(~{:: #main_content})}">
        <section id="main_content">
            <h1>ServicePage Dynamic content testing for (id)</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eius earum cum eligendi, unde esse excepturi modi quos odio corporis.
        </section> -->

        <!-- <div class="host-tag" th:replace="~{base :: parent(~{:: .second_content})}">
        <section class="second_content">
            <h1>ServicePage Dynamic content testing for (class)</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eius earum cum eligendi, unde esse excepturi modi quos odio corporis.
        </section> -->
    </div>
</body>
</html>